altair
attrs
backports.zoneinfo
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
decorator
deta
entrypoints
Faker
favicon
fonttools
gitdb
GitPython
htbuilder
idna
importlib-metadata
importlib-resources
Jinja2
joblib
jsonschema
kiwisolver
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
matplotlib
mdurl
more-itertools
numpy
packaging
pandas
Pillow
pkgutil_resolve_name
plotly
protobuf
pyarrow
pydeck
Pygments
pymdown-extensions
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
requests
rich
scikit-learn
scipy
semver
six
sklearn
smmap
soupsieve
st-annotated-text
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-keyup
streamlit-option-menu
streamlit-toggle-switch
streamlit-vertical-slider
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
zipp
